<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">my_favorite</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div *ngFor="let berita of beritas">
    <ion-item (click)="goToBerita(berita.judul)" *ngIf="berita.isFavorite">
      <div>{{ berita.judul }}</div>
      <ion-icon
        slot="end"
        name="heart"
        (click)="gantiFavorit(berita)"
        style="color: #ff0000"
      ></ion-icon>
    </ion-item>
  </div>

  <ion-card>
    <ion-card-header *ngFor="let berita of beritas">
      <ion-card-title
        (click)="goToBerita(berita.judul)"
        *ngIf="berita.isFavorite"
        >{{ berita.judul }}
      </ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card> -->

  <div
    *ngFor="let berita of beritas"
    (click)="goToBerita(berita.judul, 'my-favorite')"
  >
    <ion-card *ngIf="berita.isFavorite">
      <ion-card-header>
        <ion-img src="{{berita.fotoJudul}}" alt="" />

        <ion-item>
          <ion-card-title>{{berita.judul}}</ion-card-title>

          <ion-icon
            slot="end"
            [name]="berita?.isFavorite ? 'heart' : 'heart-outline'"
            size="large"
            (click)="gantiFavorit(berita)"
            [style]="berita?.isFavorite ? 'color: #ff0000' : 'color:#808080'"
          ></ion-icon>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle
          >Rating

          <ion-icon
            *ngFor="let i of listRating; let j = index"
            [name]="tipeStar(j, getRating(berita.rating))"
            [style]="tipeStar(j, getRating(berita.rating)) == 'star' ||
            tipeStar(j, getRating(berita.rating)) == 'star-half-outline'
              ? 'color: #ffff00'
              : 'color:#808080'
            "
          >
          </ion-icon>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
