<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olahraga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-list>
    <ion-item
      
    >
    </ion-item>
  </ion-list> -->

  <ion-card>
    <ion-card-header
      *ngFor="let berita of displayOlahraga()"
      (click)="goToBerita(berita.judul)"
    >
      <ion-img src="{{berita.fotoJudul}}" alt="" />
      <ion-card-title>{{berita.judul}}</ion-card-title>
      <ion-card-subtitle
        >Rating

        <!-- <ion-icon
          *ngFor="let i of listRating; let j = index"
          [name]="j < berita.rating ? 'star': 'star-outline'"
          [style]="j < berita.rating ? 'color: #ffff00': 'color:#808080'"
        >
        </ion-icon> -->

        <ion-icon
          *ngFor="let i of listRating; let j = index"
          [name]="tipeStar(j, getRating(berita.rating))"
          [style]="tipeStar(j, getRating(berita.rating)) == 'star' ||
            tipeStar(j, getRating(berita.rating)) == 'star-half-outline' 
            ? 'color: #ffff00': 'color:#808080'"
        >
        </ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
