<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-toggle (ionChange)="gantiMode()" [(ngModel)]="mode"
      >Light Mode</ion-toggle
    >
  </ion-item>

  <ion-item [routerLink]="['/buat-kategori']"> Buat Kategori </ion-item>
  <ion-item [routerLink]="['/buat-berita']"> Buat Berita </ion-item>
  <ion-item [routerLink]="['/tambah-foto-berita']">
    Tambah Foto Berita
  </ion-item>
  <ion-item [routerLink]="['/hapus-berita']"> Kelola Berita </ion-item>

  <ion-button color="danger" (click)="logout()"> Log Out </ion-button>
</ion-content>
