<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tambah Foto Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tambah Foto Berita</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-select [(ngModel)]="idBeritaTerpilih" label="Pilih Berita">
      <ion-select-option
        *ngFor="let berita of beritaFiltered"
        [value]="berita.idberita"
        >{{berita.judul}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-padding-top">
    <ion-input
      [(ngModel)]="urlFotoBerita"
      label="Foto berita"
      labelPlacement="floating"
    />
    <ion-img [src]="urlFotoBerita" />
  </ion-item>
  <ion-button expand="full" type="submit" (click)="simpanFotoBerita()">
    Simpan Foto Berita
  </ion-button>
</ion-content>
