<ion-app>
  <ion-router-outlet id="main-content"> </ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom" *ngIf="tampilkanTab()">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cari-berita">
        <ion-icon name="search"></ion-icon>
        <ion-label>Cari</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="setting">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Setting</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-favorite">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favorite</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
