<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cari Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-searchbar
      placeholder="Cari berita..."
      (keyup)="search()"
      [(ngModel)]="cari"
    ></ion-searchbar>
  </div>

  <div *ngIf="cari != ''">
    <ion-card
      *ngFor="let berita of beritaFiltered"
      routerLink="/baca-berita/cari/{{berita.judul}}"
    >
      <ion-img [src]="berita.fotoJudul" alt="{{berita.judul}}" />

      <ion-card-header>
        <ion-card-title>{{ berita.judul }}</ion-card-title>
        <ion-card-subtitle>
          <div>{{berita.penulis}} - {{berita.tanggalUpload}}</div>

          <div>
            Rating

            <ion-icon
              *ngFor="let i of listRating; let j = index"
              [name]="tipeStar(j, getRating(berita.rating))"
              [style]="tipeStar(j, getRating(berita.rating)) == 'star' ||
            tipeStar(j, getRating(berita.rating)) == 'star-half-outline' ? 'color: #ffff00' : 'color:#808080'"
            >
            </ion-icon>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="cari == ''">
    <ion-card
      *ngFor="let berita of beritas"
      routerLink="/baca-berita/cari/{{berita.judul}}"
    >
      <ion-img [src]="berita.fotoJudul" alt="{{berita.judul}}" />

      <ion-card-header>
        <ion-card-title>{{ berita.judul }}</ion-card-title>
        <ion-card-subtitle>
          <div>{{berita.penulis}} - {{berita.tanggalUpload}}</div>

          <div>
            Rating

            <ion-icon
              *ngFor="let i of listRating; let j = index"
              [name]="tipeStar(j, getRating(berita.rating))"
              [style]="tipeStar(j, getRating(berita.rating)) == 'star' ||
            tipeStar(j, getRating(berita.rating)) == 'star-half-outline'
              ? 'color: #ffff00'
              : 'color:#808080'
            "
            >
            </ion-icon>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
