<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
       <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Ekonomi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-list>
    <ion-item
      
    >
    </ion-item>
  </ion-list> -->

  <!-- <ion-card>
    <ion-card-header
      *ngFor="let berita of displayEkonomi()"
      (click)="goToBerita(berita.judul)"
    >
      <ion-img src="{{berita.fotoJudul}}" alt="" />
      <ion-card-title>{{berita.judul}}</ion-card-title>
      <ion-card-subtitle
        >Rating

        <ion-icon
          *ngFor="let i of listRating; let j = index"
          [name]="tipeStar(j, getRating(berita.rating))"
          [style]="tipeStar(j, getRating(berita.rating)) == 'star' ||
            tipeStar(j, getRating(berita.rating)) == 'star-half-outline' 
            ? 'color: #ffff00': 'color:#808080'"
        >
        </ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card> -->

  <ion-card *ngFor="let berita of displayEkonomi()" (click)="goToBerita(berita.judul)">
    <ion-img [src]="berita.fotoJudul" alt="{{berita.judul}}" />

    <ion-card-header>
      <ion-card-title>{{ berita.judul }}</ion-card-title>
      <ion-card-subtitle>
        Rating
        <ion-icon
          *ngFor="let i of listRating; let j = index"
          [name]="tipeStar(j, getRating(berita.rating))"
          [style]="
            tipeStar(j, getRating(berita.rating)) == 'star' ||
            tipeStar(j, getRating(berita.rating)) == 'star-half-outline'
              ? 'color: #ffff00'
              : 'color:#808080'
          "
        >
        </ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>


</ion-content>
