<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" size="small" *ngIf="dari == 'favorite'">
      <ion-back-button defaultHref="my-favorite"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start" size="small" *ngIf="dari == 'home'">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start" size="small" *ngIf="dari == 'cari'">
      <ion-back-button defaultHref="/cari-berita"></ion-back-button>
    </ion-buttons>

    <ion-buttons
      slot="start"
      size="small"
      *ngIf="dari != 'favorite' && dari != 'home' && dari != 'cari'"
    >
      <ion-back-button defaultHref="kategori/{{dari}}"></ion-back-button>
    </ion-buttons>

    <ion-title>Baca Berita</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-card-title>{{ judul }}</ion-card-title>
        <ion-icon
          slot="end"
          [name]="b.isFavorite ? 'heart' : 'heart-outline'"
          size="large"
          (click)="gantiFavorit()"
          [style]="b.isFavorite ? 'color: #ff0000' : 'color:#808080'"
        ></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <div>{{penulis}} - {{today_ind()}}</div>

      <ion-img [src]="fotoJudul"></ion-img>

      <ion-item>
        <ion-text>
          <p>{{ isi }}</p>
        </ion-text>
      </ion-item>

      <ion-grid>
        <ion-row *ngFor="let row of chunkArray(foto, 2); let i = index">
          <ion-col *ngFor="let img of row; let j = index">
            <ion-list>
              <ion-item lines="none">
                <ion-img [src]="img"></ion-img>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label>Rating</ion-label>

        <ion-icon
          *ngFor="let i of listRating; let j = index"
          [name]="i <= ratingInput ? 'star' : 'star-outline' "
          (click)="clickRating(i)"
          [style]="i <= ratingInput? 'color: #ffff00': 'color:#808080'"
        >
        </ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Berikan Komentarmu</ion-label>
      </ion-item>

      <ion-item class="input">
        <ion-input
          type="text"
          [(ngModel)]="komen"
          placeholder="Tulis komentar..."
        >
        </ion-input>

        <ion-button
          type="button"
          fill="clear"
          slot="end"
          (click)="kirimKomentar()"
        >
          <ion-icon name="send" color="primary"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-label> {{totalKomentar()}} Komentar</ion-label>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let komen of b.komentar; let i = index">
          <ion-avatar class="avatar">
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>
            <h2>{{komen.user}}</h2>
            <p>{{komen.text}}</p>

            <div *ngIf="komen.replies.length > 0">
              <p *ngFor="let reply of komen.replies" style="color: #b0b0b0">
                {{reply.user}} : {{reply.text}}
              </p>
            </div>

            <a (click)="mauReply(i)">Reply</a>

            <div *ngIf="indexReply == i">
              <ion-item>
                <ion-input placeholder="Tulis reply..." [(ngModel)]="reply">
                </ion-input>
                <ion-button fill="clear" slot="end" (click)="kirimReply(i)">
                  <ion-icon name="send" color="primary"></ion-icon>
                </ion-button>
              </ion-item>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
