<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" size="small" *ngIf="dari == 'favorite'">
      <ion-back-button defaultHref="my-favorite"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start" size="small" *ngIf="dari == 'home'">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start" size="small" *ngIf="dari == 'cari'">
      <ion-back-button defaultHref="/cari-berita"></ion-back-button>
    </ion-buttons>

    <ion-buttons
      slot="start"
      size="small"
      *ngIf="dari != 'favorite' && dari != 'home' && dari != 'cari'"
    >
      <ion-back-button defaultHref="kategori/{{dari}}"></ion-back-button>
    </ion-buttons>

    <ion-title>Baca Berita</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-card-title>{{ judul }}</ion-card-title>
        <ion-icon
          slot="end"
          [name]="b.isFavorite ? 'heart' : 'heart-outline'"
          size="large"
          (click)="gantiFavorit()"
          [style]="b.isFavorite ? 'color: #ff0000' : 'color:#808080'"
        ></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <div>{{penulis}} - {{today_ind()}}</div>

      <ion-img [src]="fotoJudul"></ion-img>

      <ion-item>
        <ion-text>
          <p>{{ isi }}</p>
        </ion-text>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let f of foto">
            <ion-img [src]="f" class="gambar-berita"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label position="floating">Komentar</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="komentar"
          placeholder="Berikan komentar anda"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Rating</ion-label>

        <ion-icon
          *ngFor="let i of listRating; let j = index"
          [name]="i <= ratingInput ? 'star' : 'star-outline' "
          (click)="clickRating(i)"
          [style]="i <= ratingInput? 'color: #ffff00': 'color:#808080'"
        >
        </ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
